body {
  text-align: center;
  padding: 5%;
  font-family: Arial;
}

.control-label {
  margin-right: 20px;
}

.rc-time-picker-input {
  width: 80px;
  text-align: center;
  margin-right: 10px;

}

.medication {
  width: 400px;
  display: inline-block;
}

.comments {
  width: 500px;
  height: 100px;
  display: inline-block;
}
